* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #1c92d2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(right, #f2fcfe, #1c92d2);
  background: linear-gradient(to left, #f2fcfe, #1c92d2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

#container {
  margin: 120px auto;
  /*border: 2px solid grey;*/
  width: 360px;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); }

h1 {
  background: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400; }

.fa-plus {
  float: right;
  line-height: 34px;
  text-align: center;
  color: white;
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer; }

.fa:hover {
  color: #d6d6d6; }

input {
  font-size: 18px;
  color: #2980b9;
  background: white;
  width: 100%;
  padding: 13px 13px 13px 20px;
  margin: 0;
  border: 2px solid #f7f7f7;
  display: none; }

input:focus {
  background: white;
  outline: none;
  border: 2px solid white;
  border-bottom: 2px solid #f7f7f7; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

li {
  height: 40px;
  background: #f7f7f7;
  line-height: 40px;
  color: #666666;
  cursor: default; }

li:nth-child(2n) {
  background: white; }

span {
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0px;
  display: inline-block;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  opacity: 0;
  cursor: pointer; }

li:hover span {
  width: 40px;
  opacity: 1; }

.completed {
  color: gray;
  text-decoration: line-through; }
